# =============================================================================
# このファイルは Docker コンテナに渡す環境変数を記載したファイルです.
# コンテナ起動時に指定する必要があります。詳しくは README.md をご覧ください。
# =============================================================================

# ACCESS TOKEN
# ------------
MSTDN_ACCESSTOKEN=''

# Debug Mode
# ----------
# 'true' の場合はデバッグ・モードとなり以下の動作をします。
#   - トゥートの visibility がダイレクト（'direct'）になります。
#   - 標準出力に詳細が出力されます。'-d' '--detach' をせずにコンテナを起動すると確認できます。
IS_MODE_DEBUG='true'

# Default Visibility
# ------------------
# デバッグ・モードが 'false' の場合の visibility.
# 'public' 'private' 'unlisted' 'direct' のいずれか。デフォルトは 'private'。
MSTDN_VISIBILITY=''

# Server Info
# -----------
# Schema (Default = 'https')
# インスタンスのスキーマ。'http' or 'https'。
MSTDN_SCHEMA=''
# Host (Default = 'qiitadon.com')
# インスタンスのドメイン名。
MSTDN_HOST=''

# Toot template
# -------------
# 時報トゥートに使われるテンプレート文字列を指定します。空の場合はデフォルトのテンプレートが使われます。
# 置換文字：テンプレート内で置換文字を使うとトゥート時に置き換えられます。置き換え可能な文字は以下参照。
#   - https://github.com/Qithub-BOT/QiiTime/blob/master/src/list-replace.inc.php
# 表示される内容のテンプレート
MSTDN_TOOT_MAIN=''
# CW（「もっと見る」）の内容のテンプレート
MSTDN_TOOT_SPOILER=''
